@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  background: #000E1F;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

p {
  line-height: 120%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.debug {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 11px;
}

#info {
  display: block;
  font-family: Arial,sans-serif;
  text-align: center;
  padding: 25% 10%;
}

.clock-container {
  display: none;
  height: 100%;
  perspective: 1000;
  background: transparent;
  opacity: 1;
  position: relative;
  -webkit-transition: all linear 0.25s;
  -moz-transition: all  linear 0.25s;
  -o-transition: all  linear 0.25s;
  transition: all  linear 0.25s;
}
.clock-container ul {
  padding: 5%;
  font-family: "Black Ops One", cursive;
  font-size: 6em;
}
.clock-container ul li {
  display: block;
  letter-spacing: 150%;
  line-height: 100%;
  text-align: left;
  font-size: 25vh;
  text-shadow: 20px 10px 10px #000;
}
.clock-container ul .day-night {
  font-size: 0.25em;
  font-size: 15vw;
  letter-spacing: auto;
  text-align: right;
}

@media only screen and (orientation: landscape) {
  .clock-container ul {
    width: 100%;
    overflow: hidden;
  }
  .clock-container ul li {
    float: left;
    margin-left: 5%;
    font-size: 23vw;
  }
  .clock-container ul .sec {
    clear: left;
  }
}
