@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
/* line 17, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../../src/scss/default.scss */
html,
body {
  height: 100%;
}

/* line 13, ../../src/scss/default.scss */
body {
  font-family: arial, sans-serif;
  font-size: 16px;
  background: #000E1F;
  color: #fff;
}

/* line 20, ../../src/scss/default.scss */
h1 {
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

/* line 26, ../../src/scss/default.scss */
p {
  line-height: 120%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

/* line 32, ../../src/scss/default.scss */
.container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

/* line 38, ../../src/scss/default.scss */
.debug {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 11px;
}

/* line 45, ../../src/scss/default.scss */
#info {
  display: block;
  font-family: Arial,sans-serif;
  text-align: center;
  padding: 25% 10%;
}

/* line 52, ../../src/scss/default.scss */
.clock-container {
  display: none;
  height: 100%;
  perspective: 1000;
  background: transparent;
  opacity: 1;
  position: relative;
  -webkit-transition: all linear 0.25s;
  -moz-transition: all  linear 0.25s;
  -o-transition: all  linear 0.25s;
  transition: all  linear 0.25s;
}
/* line 65, ../../src/scss/default.scss */
.clock-container ul {
  padding: 5%;
  font-family: "Black Ops One", cursive;
  font-size: 6em;
}
/* line 69, ../../src/scss/default.scss */
.clock-container ul li {
  display: block;
  letter-spacing: 150%;
  line-height: 100%;
  text-align: left;
  font-size: 35vw;
  text-shadow: 20px 10px 10px #000;
}
/* line 77, ../../src/scss/default.scss */
.clock-container ul .day-night {
  font-size: 0.25em;
  font-size: 15vw;
  letter-spacing: auto;
  text-align: right;
}

@media only screen and (orientation: landscape) {
  /* line 88, ../../src/scss/default.scss */
  .clock-container ul {
    width: 100%;
    overflow: hidden;
  }
  /* line 91, ../../src/scss/default.scss */
  .clock-container ul li {
    float: left;
    margin-left: 5%;
    font-size: 23vw;
  }
  /* line 96, ../../src/scss/default.scss */
  .clock-container ul .sec {
    clear: left;
  }
}
