doctype
html
	head
		title JS Wallclock
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		

	body
		.container
			.clock-container#wallclock
				ul
					li.hour 00
					li.min 00
					li.sec 00
					li.day-night am
			.debug
				#type
				#output
				#more

			#info
				h1 JS Wallclock
				p This script is to experiment with your mobile native accelerometer.
				p You will need a compatible device to test this page. Try and load this page with your mobile

		link(href="assets/css/default.css" rel="stylesheet" type="text/css")
		script(type="text/javascript" src="assets/js/wallclock.js")
		script(type="text/javascript").
			var wallClock = new wallClock();
			wallClock.init();