@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);

$clock-font:'Black Ops One', cursive;
$clock-font-size:6em;

html,
body{
	height:100%;
}

body{
	font-family: arial, sans-serif;
	font-size:16px;
	background:#000E1F;
	color:#fff;
}

h1{
	text-transform:uppercase;
	font-size:1.8em;
	margin-bottom:0.5em;
}

p{
	line-height:120%;
	margin-bottom:0.5em;
	font-size:1.2em;
}

.container{
	position:relative;
	overflow:hidden;
	height:100%;
}

.debug{
	position:fixed;
	bottom:0;
	left:0;
	font-size:11px;
}

#info{
	display:block;
	font-family:Arial,sans-serif;
	text-align:center;
	padding:25% 10%;
}
#settings{
	display:none;
	position:fixed;
	top:15px;
	right:15px;
	z-index:100;

	a{
		color:#ffffff;
		font-size:2em;
	}
}

.clock-container{
	display:none;
	height:100%;
	perspective: 1000;
	background:transparent;
	opacity:1;
	
	position:relative;
	 -webkit-transition: all linear 0.25s;
    -moz-transition: all  linear 0.25s;
    -o-transition: all  linear 0.25s;
    transition: all  linear 0.25s;

	ul{
		padding:5%;
		font-family: $clock-font;
		font-size:$clock-font-size;
		li{
			display:block;
			letter-spacing: 150%;
			line-height: 100%;
			text-align: left;
			font-size:25vh;
			text-shadow:20px 10px 10px #000;
		}
		.day-night{
			font-size:0.25em;
			font-size:15vw;
			letter-spacing:auto;
			text-align:right;
		}
	}
}

//Orientation
@media only screen and (orientation: landscape) {
	.clock-container{
		ul{
			width:100%;
			overflow:hidden;
			li{
				float:left;
				margin-left:5%;
				font-size:23vw;
			}
			.sec{clear:left;}
		}
	}
}